
.panel-cf-3col-stacked {
/*  overflow: hidden;  */
}

.panel-cf-3col-stacked .panel-col-top,
.panel-cf-3col-stacked .panel-col-bottom {
  width: 100%;
  clear: both;
}

.panel-cf-3col-stacked .panel-col-top > .inside {
  margin-bottom: .5em;
}

.panel-cf-3col-stacked .panel-col-first {
  float: left;
  clear: none;
  width: 25%;
  margin-left: -100%;
}

.panel-cf-3col-stacked .panel-col-first > .inside {
  margin: 0 .5em 1em .5em;
}

.panel-cf-3col-stacked .panel-col {
  float: left;
  clear: none;
  width: 100%;
}

.panel-cf-3col-stacked.panel-has-col-first .panel-col > .inside {
  margin-left: 25%;
}

.panel-cf-3col-stacked.panel-has-col-last .panel-col > .inside {
  margin-right: 25%;
}

.panel-cf-3col-stacked .panel-col > .inside {
  margin: 0 .5em 1em .5em;
}

.panel-cf-3col-stacked .panel-col-last {
  float: left;
  clear: none;
  width: 25%;
  margin-left: -25%;
}

.panel-cf-3col-stacked .panel-col-last > .inside {
  margin: 0 0 1em .5em;
}

.panel-cf-3col-stacked .panel-separator {
  margin: 0 0 1em 0;
}
